# Algorithme de classification des billets de banque

In [1]:
#Import des librairies Python
import pandas as pd
from sklearn import preprocessing
import pickle

# Fichier csv à tester

In [2]:
billet = pd.read_csv('billets_production.csv')
billet

   diagonal  height_left  height_right  margin_low  margin_up  length   id
0    171.76       104.01        103.54        5.21       3.30  111.42  A_1
1    171.87       104.17        104.13        6.00       3.31  112.09  A_2
2    172.00       104.58        104.29        4.99       3.39  111.57  A_3
3    172.49       104.55        104.34        4.44       3.03  113.20  A_4
4    171.65       103.63        103.56        3.77       3.16  113.33  A_5

In [3]:
#Fonction "detecteur_billet()" à utiliser dans l'étape suivante

def detecteur_billet(billet):
    """ Programme de détection de faux billets à partir d'un fichier .csv
        ici 'billet' 
    """

    
    # Chargement et préparation des données
    
    test_billet_prod = billet[['height_left','height_right', 'margin_up', 'length']]

    # Récupération du modèle de Régression Logistique 'reg_log2'
    
    input = open('output.pickle', 'rb') 
    reg_log2= pickle.load(input)
        
            # Utilisation du modèle de prédiction 'reg_log2'

    predict = reg_log2.predict(test_billet_prod)
      
    prediction=pd.DataFrame({'id': billet.index,
                         'prediction' : predict.values})


    
           # Résultats de la classification prédictive, selon une probabilité  supérieure ou égale à 0.5 :

    prediction['target_pred'] = prediction['prediction'].apply(lambda x: True if (x >= 0.5) else False)
    
         # Intégration des probabilités dans le jeu de données

    billet = pd.concat([billet,prediction], axis = 1)
    return billet

# Lancement de l'algorithme
Pour chaque billet, l'algorithme de classification donnera la probabilité que le billet soit vrai. Si cette probabilité est supérieure ou égale à 0.5, le billet sera considéré comme vrai. Dans le cas contraire, il sera considéré comme faux.

In [4]:
##Dernière étape avant l'affichage des prédictions 
detecteur_billet(billet)

,diagonal,height_left,height_right,margin_low,margin_up,length,id,id,prediction,target_pred
0,171.76,104.01,103.54,5.21,3.30,111.42,A_1,0,0.004294,False
1,171.87,104.17,104.13,6.00,3.31,112.09,A_2,1,0.016591,False
2,172.00,104.58,104.29,4.99,3.39,111.57,A_3,2,0.000069,False
3,172.49,104.55,104.34,4.44,3.03,113.20,A_4,3,0.960772,True
4,171.65,103.63,103.56,3.77,3.16,113.33,A_5,4,0.999752,True

### #Test des données fournies lors de la soutenance

In [5]:
billet_test = pd.read_csv('billets_test.csv')

In [6]:
detecteur_billet(billet_test)

,diagonal,height_left,height_right,margin_low,margin_up,length,id,id,prediction,target_pred
0,172.09,103.95,103.73,4.39,3.09,113.19,B_1,0,0.998544,True
1,171.52,104.17,104.03,5.27,3.16,111.82,B_2,1,0.015439,False
2,171.78,103.80,103.75,3.81,3.24,113.39,B_3,2,0.998957,True
3,172.02,104.08,103.99,5.57,3.30,111.10,B_4,3,0.000090,False
4,171.79,104.34,104.37,5.00,3.07,111.87,B_5,4,0.007651,False